src/test/resources/com/jcabi/xml/sample-namespaces.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * SPDX-FileCopyrightText: Copyright (c) 2012-2025 Yegor Bugayenko
 * SPDX-License-Identifier: MIT
-->
<xs:schema xmlns="http://jcabi.com/schema/xml" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jcabi.com/schema/xml" elementFormDefault="qualified">
  <xs:complexType name="payment">
    <xs:all>
      <xs:element name="id"/>
      <xs:element name="date"/>
      <xs:element name="debit"/>
      <xs:element name="credit"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="payment" type="payment"/>
</xs:schema>
