src/test/resources/com/jcabi/xml/sample.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="payment">
        <xs:all>
            <xs:element name="id"/>
            <xs:element name="date"/>
            <xs:element name="debit"/>
            <xs:element name="credit"/>
            <xs:element name="details" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="payment" type="payment"/>
</xs:schema>
